/*-----------Variables---------------*/
@yellow: #ffec04;

/*-----------Mixin--------------*/
.Transition{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s ;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*-----------Classes utiles--------------*/
.centeredContent{
  margin: 0 auto;
  display: table;
}
a{
  text-decoration: none !important;
  color: #fff;
  .Transition;
  &:hover{
    color: @yellow !important;
  }
}
.centerKit{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: -translate(-50%, -50%);
}
.no-padding{
  padding: 0 !important;
}
/*Levitation*/

.levitate{
  -webkit-animation: levitate 0.6s infinite;
  -moz-animation: levitate 0.6s infinite;

}
@-webkit-keyframes levitate {
  0% { -webkit-transform: translateY(5px); }
  50% { -webkit-transform: translateY(-15px); }
  100% { -webkit-transform: translateY(5px); }
}

@-moz-keyframes levitate {
  0% { -moz-transform: translateY(5px); }
  50% { -moz-transform: translateY(-15px); }
  100% { -moz-transform: translateY(5px); }
}

@-o-keyframes levitate {
  0% { -o-transform: translateY(5px); }
  50% { -o-transform: translateY(-15px); }
  100% { -o-transform: translateY(5px); }
}

@-ms-keyframes levitate {
  0% { -ms-transform: translateY(5px); }
  50% { -ms-transform: translateY(-15px); }
  100% { -ms-transform: translateY(5px); }
}

@keyframes levitate {
  0% { transform: translateY(5px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(5px); }
}

/*-----------Preloader--------------*/
#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ffffff; /* change if the mask should have another color then white */
  z-index:99; /* makes sure it stays on top */
}
/*-----------Header--------------*/
body {
  font-family: 'century gothic', "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

#ascensorBuilding{
  background: url('img/bg_ciwo.jpg') center fixed no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
  li{
    a{
      padding: 3px 6px;
      display: inline-block;
      background: #eee;
      border-radius:3px;
      margin-bottom:2px;
      color: #777;
      &:hover{
        cursor: pointer;
        background: #fefefe;
      }
    }
  }
}

.links-to-floor{position: absolute;top: 20px;left: 20px;}
.prev-next-links{position: absolute;top: 20px;right: 20px;}
.direction-links li a{border-radius: 0;}
.up {position: absolute;bottom: 75px;right: 50px;}
.down {position: absolute;bottom: 25px;right: 50px;}
.left {position: absolute;bottom: 50px;right: 60px;}
.right {position: absolute;bottom: 50px;right: 32px;}
.selected a{color: white;background:#4fade3;}
.selected a:hover{color: white;background:#4fade3;}

/*Accueil*/
.lighter{font-weight: lighter; color: @yellow;}
#acc_head{
  width: 570px;
  display: table;
  h1{
    color: #ffffff;
    font-size: 130px;
    letter-spacing: 10px;
    float: left;
    margin-left: 78px;
  }
  #femaleSymbol{display: block;}
}

.subtle{
  color: #fff;
  text-align: center;
  width: 100%;
  letter-spacing: 3px;
  p{font-style: italic;}
}


/*Line*/
.floor-2{
  overflow: hidden !important;
}
#timeline{
  position: relative;
  #line{
    position: absolute;
    top: 200px;
    left: 49%;
    width: 5px;
    height: 0;
    background: #ffffff;
    -webkit-transform: translate(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%);
    -o-transform: translate(50%);
    transform: translate(50%);
  }
  .decoCircle{
    position: absolute;
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
    top: 60px;
    left: 49.5%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    border-radius: 50%;
  }
}

#contentLine{
  opacity: 0;
  padding: 0;
  margin-top: 30%;
  h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }
  li{
    .Transition;
    h3{
      opacity: 0;
      .Transition;}
    .responsiveSlider{
      opacity: 0;
      .Transition;
    }
  }

  .activeLi{
    h3{opacity: 1;}
    .responsiveSlider{opacity: 1;}
  }

}
.largeContent{
  overflow: hidden;
  width: 100%;
  .customCarousel{
    width:9999px;
    position: relative;
  }
}
/*.owl-item{
  width: 130px !important;
  margin-right: 10px !important;
}*/
.owl-demo .item{
  padding: 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.left_scroll{
  float:left;
  display: none;
  background: transparent;
  color: #fff;
  &:hover{
    color: @yellow;
    background: transparent;
  }
}

.right_scroll{
  float:right;
  background: transparent;
  color: #fff;
  &:hover{
    color: @yellow;
    background: transparent;
  }
}

/*Slider*/
.responsiveSlider{
  img{
    margin-right: 10px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    .Transition;
  }
  .activeBoard{
    border-radius: 15px;
  }
}
.ciwo-fixed{
  color: #fff;
  text-align: center;
  font-size: 70px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 30px;
  display: none;
}

.asideSection{

}
.returnWomen{
  display: table;
  margin: 100% 30px;
  font-size: 50px;
  color: #fff;
}
.detailedContent{
  margin-top: 10%;
  color: #fff;
}
/*Sidebar*/
.sideBar{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  ul{
    margin-top: 150px;
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 40px;
      a{
        /*main style*/
        position: relative;
        display: block;
        margin: 15px 25px;
        outline: none;
        color: #fff;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: lighter;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1.35em;
        /*Effect*/
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
        &:hover{
          color: @yellow;
          outline: none;
          &:before {
            color: @yellow;
            text-shadow: 10px 0 @yellow, -10px 0 @yellow;
          }
        }
        &:before{
          position: absolute;
          top: 100%;
          left: 50%;
          color: transparent;
          content: '•';
          text-shadow: 0 0 transparent;
          font-size: 1.2em;
          -webkit-transition: text-shadow 0.3s, color 0.3s;
          -moz-transition: text-shadow 0.3s, color 0.3s;
          transition: text-shadow 0.3s, color 0.3s;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          pointer-events: none;
          box-sizing: border-box;
        }
      }
    }
  }
  .legend{
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

}

.gender{
  background: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 55% auto 0;
}

#years{
  margin-top: 250px;
  opacity: 0;
  .Transition;
  margin-left: -20px;
  .activeYear{
    .slider{
      opacity: 1 !important;;
    }
  }
  .year{
    .slider{
      opacity: 0;
      .Transition;
    }
    div{
      position: relative;
      .date{
        background: #fff;
        width: 50px;
        height: 50px;
        margin: 25px auto;
        border-radius: 50%;
        display: table;
        text-align: center;
        padding-top: 14px;
      }
    }
    .slider{
      overflow: hidden;
      .largeWrap{
        display: table;
        width: 99999px;
        .affiche{
          float: left;
          margin-right: 15px;
          a{padding: 0; background: #fff;border-radius: 10px;}
          img{
            padding: 2px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}


/*SVG*/
.contentDate{
  position: relative;
  svg{
    position: absolute;
    top: 0;
    left: 0;
  }
}
.percentWomen{
  background: #ffff00;
  border-radius: 50%;
}

.percentMen{
  border: 2px solid #ffffff;
  border-radius: 50%;
}


/*-----------MediaQueries--------------*/
@media screen and (max-width:1366px){
  .sideBar ul {
    margin-top: 60px;

  }
}

